{% if data %}
  {{ attach_library('hero_card/styling') }}
  {{ attach_library('hero_card/default') }}
  {% set classes = [
    'block__hero-card--wrapper',
  ]%}
  <div{{attributes.addClass(classes)}} data-src='{{ data }}'></div>
{% endif %}
