/**
*   Visually hide text within an element
*   Used mostly for accessibility reasons
*
*   No Params
*
*   Example Usage:
*
*     button {
*       span {
*         @include visuallyhidden;
*       }
*     }
*
*/
/**
*  This mixin should be used to declare specific properties
*  to resolve Internet Explorer compatibility issues.
*/
/* Media Orientation max-width and orientation {portrait or landscape} */
@media (max-width: 767px) {
  .really-long-text {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    /* Instead use this non-standard one: */
    word-break: break-word; } }

.cards-row {
  padding-bottom: 25px;
  padding-top: 25px; }
  .cards-row:not(.bg-alter) {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%; }
    .cards-row:not(.bg-alter):after {
      content: '';
      display: block;
      clear: both; }
    @media (min-width: 992px) {
      .cards-row:not(.bg-alter) {
        padding-left: 60px;
        padding-right: 60px; } }
  @media (min-width: 992px) {
    .cards-row {
      padding-bottom: 50px;
      padding-top: 50px; } }
  .bg-alter .cards-row-header {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    padding-bottom: 2rem; }
    .bg-alter .cards-row-header:after {
      content: '';
      display: block;
      clear: both; }
    @media (min-width: 992px) {
      .bg-alter .cards-row-header {
        padding-left: 60px;
        padding-right: 60px; } }
    @media (min-width: 992px) {
      .bg-alter .cards-row-header {
        padding-bottom: 2rem; } }

.cards-desc {
  margin: 2rem auto 0; }

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: auto -15px; }
  .cards-wrapper > *[class^='is-'] {
    background: #fff; }
    .contrast .cards-wrapper > *[class^='is-'], .cards-wrapper > *[class^='is-'].contrast {
      background: #f4f4f4; }
    .primary-secondary .cards-wrapper > *[class^='is-'], .cards-wrapper > *[class^='is-'].primary-secondary {
      background: rebeccapurple; }
    .primary-secondary:nth-child(even) .cards-wrapper > *[class^='is-'] .cards-wrapper > *[class^='is-'].primary-secondary:nth-child(even) {
      background: magenta; }
    .secondary-primary .cards-wrapper > *[class^='is-'], .cards-wrapper > *[class^='is-'].secondary-primary {
      background: magenta; }
    .secondary-primary:nth-child(even) .cards-wrapper > *[class^='is-'], .cards-wrapper > *[class^='is-'].secondary-primary:nth-child(even) {
      background: rebeccapurple; }
    .cards-wrapper > *[class^='is-'].secondary-primary, .cards-wrapper > *[class^='is-'].primary-secondary {
      margin: 0;
      color: #fff; }
      @media (min-width: 768px) {
        .cards-wrapper > *[class^='is-'].secondary-primary, .cards-wrapper > *[class^='is-'].primary-secondary {
          max-width: 50%; } }
  .bg-alter .cards-wrapper {
    margin: auto; }
    .bg-alter .cards-wrapper > *[class^='is-'] {
      padding-left: 30px;
      padding-right: 30px;
      width: 100%; }
      .bg-alter .cards-wrapper > *[class^='is-']:after {
        content: '';
        display: block;
        clear: both; }
      @media (min-width: 992px) {
        .bg-alter .cards-wrapper > *[class^='is-'] {
          padding-left: 60px;
          padding-right: 60px; } }

.card-item-title {
  text-transform: unset;
  font-weight: bold;
  line-height: 0;
  padding: 2.5rem 0;
  margin: 0;
  background: #fff; }
  .contrast .card-item-title, .card-item-title.contrast {
    background: #f4f4f4; }
  .primary-secondary .card-item-title, .card-item-title.primary-secondary {
    background: rebeccapurple; }
  .primary-secondary:nth-child(even) .card-item-title .card-item-title.primary-secondary:nth-child(even) {
    background: magenta; }
  .secondary-primary .card-item-title, .card-item-title.secondary-primary {
    background: magenta; }
  .secondary-primary:nth-child(even) .card-item-title, .card-item-title.secondary-primary:nth-child(even) {
    background: rebeccapurple; }
  .card-item-title.secondary-primary, .card-item-title.primary-secondary {
    margin: 0;
    color: #fff; }
    @media (min-width: 768px) {
      .card-item-title.secondary-primary, .card-item-title.primary-secondary {
        max-width: 50%; } }

.card-item-desc {
  font-size: 1.6rem;
  line-height: 1.5;
  background: #fff; }
  .contrast .card-item-desc, .card-item-desc.contrast {
    background: #f4f4f4; }
  .primary-secondary .card-item-desc, .card-item-desc.primary-secondary {
    background: rebeccapurple; }
  .primary-secondary:nth-child(even) .card-item-desc .card-item-desc.primary-secondary:nth-child(even) {
    background: magenta; }
  .secondary-primary .card-item-desc, .card-item-desc.secondary-primary {
    background: magenta; }
  .secondary-primary:nth-child(even) .card-item-desc, .card-item-desc.secondary-primary:nth-child(even) {
    background: rebeccapurple; }
  .card-item-desc.secondary-primary, .card-item-desc.primary-secondary {
    margin: 0;
    color: #fff; }
    @media (min-width: 768px) {
      .card-item-desc.secondary-primary, .card-item-desc.primary-secondary {
        max-width: 50%; } }


/*# sourceMappingURL=index.css.map*/