// Global colors
$global-white: #fff;
$global-white-2: #f4f4f4;
$global-white-3: #f5f5f2;
$global-gray-1: #d8d8d8;
$global-gray-2: #888b8d;
$global-gray-3: #63666a;
$global-red: #ca001b;
$global-red-1: #d61f20;
$global-black: #212121;
$global-blue: #009;
$global-magenta: #c09;

// Common usage
$white-text: $global-white;
$black-text: $global-black;
$red-text: $global-red;
$light-gray-text: $global-gray-1;
$dark-gray-text: $global-gray-2;
$blue-text: $global-blue;
$purple-text: #551a8b;
$white-bg: $global-white;
$black-bg: $global-black;
$red-bg: $global-red;
$red-bg-1: $global-red-1;
$off-white-bg: $global-white-2;
$gray-bg: $global-gray-1;

// Brand colors mapped to vars
$black: #000;
$black-2: #2b2d2f;
$gray-1: #1991eb;
$gray-2: #6d727c;
$gray-3: #bdbdc1;
$gray-4: #eeeff0;
$gray-5: #f9f9fa;
$gray-6: #d8d8d8;
$gray-7: #f9f9f9;
$gray-8: #cfcfcf;
$gray-9: #f9fafb;
$gray-10: #343434;
$magenta-1: #e9506e;
$magenta-2: #c6017e;
$silver-sand: #C2C6C9;

$placeholder-input: #d2d2d2;
$input-bg : #f9e8e8;
$placeholder-input: #d2d2d2;

$placeholder-input: #d2d2d2;
$input-bg : #f9e8e8;
$placeholder-input: #d2d2d2;

$gray-text: #494c4f;
$gray-separator: $gray-4;
$share-icon-color: $gray-3;

$cta-dark-border: $global-gray-1;
$header-border: $global-gray-2;
